<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>

<body>
<h1 id="content">text</h1>
<form action="/setAdvice" method="get">

    <span>设置内容：</span><input name="content" type="text">

    <button>提交</button>
</form>

</body>
<script>
    $(function () {
        $.ajax({ url: "/getAdvice", success: function(data){
                $("#content").text(data);
            }});
    })

</script>
</html>