<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用帮助-今日校园健康信息自动提交</title>
</head>
<style>
    html, body, #app {
        background: #7F7FD5; /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0
    }
</style>
<body>
<ul>
    <li>
        <h3>
            Q：如何更改密码？
        </h3>
        <span>
            保持账号、邮箱一致和之前的密码输入的一致，并提交新的密码就可以重置密码了
        </span>
    </li>
    <li>
        <h3>
            Q：支持哪些类型健康提交？
        </h3>
        <span>
            支持河南信息统计学院的《学生疫情信息采集通用模板》的校级任务。依托您在软件内之前填报的信息进行提交</br>
            只要您在今日校园软件内每天提交时自动填充内容的，本平台都支持！无需每日繁琐的提交的问题！
        </span>
    </li>
    <li>
        <h3>
            Q：平台支持那些学校？
        </h3>
        <span>
            平台暂时只支持河南信息统计职业学院
        </span>
    </li>
    <li>
        <h3>
            云签到平台用户协议
        </h3>
        <span>
            【首部及导言】</br>
            欢迎您使用今日校园健康提交平台！（以下简称“本平台”）</br>
            为使用本平台提供的服务，您应当阅读并遵守《今日校园健康提交平台用户协议》。</br>
            除非您已阅读并接受本协议所有条款，否则您无权使用相关服务。您的使用、登录等行为即视为您已阅读并同意本协议的约束。</br>
            </br>
            一、【协议的范围】</br>
            本协议是您与本平台之间关于您登录、使用本系统服务所订立的协议。</br>
            </br>
            二、【关于本平台】</br>
            由Flik开发的<!--主打网课周边业务-->本平台，具体功能请阅读说明文档、进入平台查看。</br>
            </br>
            三、【用户个人信息保护】
            本平台采用的是JAVA+Python开发，在任何情况下都不存在向第三方公开、透露用户信息的可能！请放心使用！</br>
            本平台对相关信息采用专业加密存储与传输方式，保障用户信息的安全。</br>
            本平台将运用各种安全技术和程序建立完善的管理制度来保护您的信息，以免遭受未经授权的访问、使用或披露。</br>
            因用户自我安全意识不足等自身原因导致的数据资料外泄，本平台概不负责。</br>
            </br>

            四、【用户行为规范】</br>
            禁止使用任何方式干扰、破坏本平台的正常运行。</br>
            用户账号仅限本人使用，不允许外借、出租、转让。</br>
            禁止使用任何方式引用本平台数据。</br>
            </br>
            五、【其他】</br>
            使用本平台引起的任何后果自行承担。</br>
            其他未尽事宜处理办法视具体情况而定。</br>
            提交账号信息即视为同意本协议，本平台有权力在用户违反用户协议时，封停、删除用户账号，且没有义务向您返还任何数据。</br>
        </span>
    </li>

</ul>
</body>
</html>